html {
    scroll-behavior: smooth;
}
.wrapper {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: $tertiary;
}

button {
    background-color: transparent;
    border: none;
    font-family: $secondaryFont;
    color: $tertiary;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    padding: 10px 30px;
    margin: 15px 15px 0 0;
    border-radius: 4px 4px;

    &:hover {
        transition: 0.4s;
    }
}