.index {
    background-color: $primary;
}

.indexHeader {
    margin: 150px 0;
    display: flex;
    justify-content: space-evenly;
}

.indexText {
    h3 {
        margin-left: 5px;
    }
}
.indexFooter {
    display: flex;
    
    li {
        padding-right: 30px;
    }
}

.far,
.fab {
    &:hover {
        color: $secondary;
        transition: 0.4s;
    }
}
.portfolioBtn {
    background-color: $secondary;
    border: 2px solid $secondary;
    margin-left: 5px;

    &:hover {
        background-color: transparent;
    }

    a {
        color: $primary;

        &:hover {
            color: $secondary;
        }
    }
}

.resumeBtn {
    border: 2px solid $tertiary;

    a {
        &:hover {
            color: $primary;
        }
    }
    &:hover {
            background-color: $tertiary;
        }
}

.arrowDiv,
.upArrowDiv {
    text-align: center;

    img {
        width: 10%;

        &:hover {
            cursor: pointer;
        }
    }
}

.fold {
    display: none;
}
.unfold {
    display: block;
}