@media (max-width:900px) {
    .indexHeader {
        flex-direction: column;
        text-align: center;
        margin-bottom: 100px;

        h1 {
            margin-top: 10px;
        }

        h3 {
            margin-bottom: 20px;
        }
    }
    .indexFooter {
        justify-content: center;
        display: none;
    }
    .resumeIcon {
        padding-left: 30px;
    }

    .projectsFlex {
        flex-direction: column;
    }
    .projectsList {
        width: 100%;
    }

}
@media (max-width:750px) {
    .navList {
        display: none;
    }

    .menuIcon {
        display: inline-block;
    }

    .slideOutNav {
        background-color: $primary;
        min-height: 100vh;
        position: fixed;
        top: 0;
        padding: 20px 30px 0 50px;
        width: 100%;
        max-width: 500px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        z-index: 20;
        right: -600px;
        transition: 0.4s;
    }

    .open {
        right: 0;
    }

    .slideOutNav button {
        align-self: flex-end;
        background-color: transparent;
        margin: 0;
        padding: 0;
        color: $tertiary;
        border: none;

        &:hover {
            color: $secondary;
            cursor: pointer;
        }
    }

    .slideOutNav a {
        color: $tertiary;
        line-height: 2.2rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;

        &:hover {
            color: $secondary;
            transition: 0.4s;
        }
    }

    .mainMenu {
        margin-top: 30px;
    }

    .aboutFlex {
        flex-direction: column;
        align-items: center;
        padding: 20px 20px !important;

        .aboutText{
            width: 100%;
        }

        .aboutImage {
            width: 70%;
            margin: 20px 0 50px 0;
        }
    }

    .indexText {
        h3 {
            margin-top: 25px;
        }

        button {
            margin-top: 0;
        }
    }
}