.projects {
    background-color: $tertiary;

    h4 {
        text-align: center;
    }
}

.projectsDiv {
    background-color: $primary;
    color: $tertiary;
    padding: 80px 80px;
}
.projectsFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
}

.projectsList {
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projectsImages {
    width: 60%;
    border: 2px solid $tertiary ;
    border-radius: 4px 4px;

    img {
        width: 100%;
        overflow: hidden;
    }
}

.projectsText {
    width: 30%;
    button {
        border: 2px solid $tertiary;
        border-radius: 4px 4px;
        padding: 8px 20px;

        &:hover {
            color: $tertiary;
            background-color: $secondary;
            transition: 0.4s;
        }

        a {
            font-size: 0.7rem;
            letter-spacing: 0.05;
        }
        }
}