.projects {
    background-color: $tertiary;

    h4 {
        text-align: center;
    }
}

.projectsDiv {
    background-color: $primary;
    color: $tertiary;
    padding: 80px 80px;
}
.projectsFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
}

.projectsList {
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projectsImages {
    width: 64%;
    border: 2px solid $tertiary ;
    border-radius: 6px 6px;

    img {
        width: 100%;
        overflow: hidden;
    }
}

.projectsTexts {
    width: 30%;
    margin-left: 30px;

    button {
        border-radius: 4px 4px;
        padding: 8px 20px;
        border: 2px solid $secondary;
        background-color: $secondary;

        &:hover {
            // background-color: $primary;
            transform: scale(110%);
            transition: 0.4s;
        }

        a {
            font-size: 0.7rem;
            letter-spacing: 0.05;
            color: $primary;

            &:hover {
                // color: $secondary;
            }
        }
        }
}