// site fonts
$primaryFont: 'DM Serif Display', serif;
$secondaryFont: 'Jost', sans-serif;
$tertiaryFont: 'Lora', serif;

// base Font size
$baseFontSize: 1rem;

// site colors
$primary: #fff5d7;
$secondary: #ff5e6c;
$tertiary: #154f78;
