// site fonts
$primaryFont: 'Capriola',
sans-serif;
$secondaryFont: 'Jost', sans-serif;
$tertiaryFont: 'Lora', serif;

// base Font size
$baseFontSize: 1rem;

// site colors
$primary: #fff5d7;
$secondary: #ff5e6c;
$tertiary: #331529; 

// $primary: #FFF5DE;
// $secondary: #9B72AA;
// $tertiary: #3C5186;
