@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Capriola&family=DM+Serif+Display&family=Jost&family=Lora&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1260px;
  width: 80%;
  margin: 0 auto;
}

html {
  font-size: 125%;
}

body {
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  color: #331529;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1 {
  font-family: "Capriola", sans-serif;
  font-size: 3.5rem;
}

h4 {
  font-family: "Capriola", sans-serif;
  font-size: 2rem;
}

h5 {
  color: #ff5e6c;
  font-family: "Capriola", sans-serif;
  font-size: 1.5rem;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #331529;
}

button {
  background-color: transparent;
  border: none;
  font-family: "Jost", sans-serif;
  color: #331529;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 10px 30px;
  margin: 15px 15px 0 0;
  border-radius: 4px 4px;
}
button:hover, button:focus {
  transition: 0.4s;
}

.index {
  background-color: #fff5d7;
}

.indexHeader {
  margin: 150px 0;
  display: flex;
  justify-content: space-evenly;
}

.indexText h3 {
  margin-left: 5px;
}

.indexFooter {
  display: flex;
}
.indexFooter li {
  padding-right: 30px;
}

.far:hover, .far:focus,
.fab:hover,
.fab:focus {
  color: #ff5e6c;
  transition: 0.4s;
}

.portfolioBtn {
  background-color: #ff5e6c;
  border: 2px solid #ff5e6c;
  margin-left: 5px;
}
.portfolioBtn:hover, .portfolioBtn:focus {
  background-color: transparent;
}
.portfolioBtn a {
  color: #fff5d7;
}
.portfolioBtn a:hover, .portfolioBtn a:focus {
  color: #ff5e6c;
}

.resumeBtn {
  border: 2px solid #331529;
}
.resumeBtn a:hover, .resumeBtn a:focus {
  color: #fff5d7;
}
.resumeBtn:hover, .resumeBtn:focus {
  background-color: #331529;
}

.arrowDiv,
.upArrowDiv {
  text-align: center;
}
.arrowDiv img,
.upArrowDiv img {
  width: 10%;
}
.arrowDiv img:hover, .arrowDiv img:focus,
.upArrowDiv img:hover,
.upArrowDiv img:focus {
  cursor: pointer;
}

.fold {
  display: none;
}

.unfold {
  display: block;
}

nav {
  background-color: #fff5d7;
  color: #331529;
}

.navBar {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.navList {
  display: flex;
  font-size: 0.8rem;
  padding-top: 4px;
}
.navList li {
  padding-left: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.navList li a {
  color: #331529;
}
.navList li a:hover, .navList li a:focus {
  color: #ff5e6c;
  transition: 0.4s;
}

.menuIcon,
.slideOutNav {
  display: none;
}

.menuIcon {
  background-color: transparent;
  margin: 0;
  padding: 0;
  color: #331529;
  border: none;
}
.menuIcon:hover, .menuIcon:focus {
  color: #ff5e6c;
  cursor: pointer;
}

.about {
  background-color: #ff5e6c;
}
.about h5 {
  font-size: 1rem;
}
.about h2 {
  color: #ff5e6c;
  font-family: "Capriola", sans-serif;
  font-size: 2rem;
}
.about p {
  font-size: 1rem;
  padding-bottom: 20px;
}
.about p a {
  color: #ff5e6c;
}

.aboutFlex {
  background-color: #fff5d7;
  display: flex;
  padding: 80px 80px;
  justify-content: space-between;
}
.aboutFlex .aboutText {
  width: 60%;
}
.aboutFlex .aboutImage {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutFlex .aboutImage img {
  max-width: 100%;
  border-radius: 100%;
}

.skills {
  background-color: #fff5d7;
  color: #331529;
  padding: 80px 80px;
  text-align: center;
}

.skillsFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
}
.skillsFlex li {
  width: 20%;
  padding-bottom: 20px;
}
.skillsFlex p {
  padding-bottom: 5px;
}
.skillsFlex i {
  font-size: 1.5rem;
}

.projects {
  background-color: #331529;
}
.projects h4 {
  text-align: center;
}

.projectsDiv {
  background-color: #fff5d7;
  color: #331529;
  padding: 80px 55px;
}

.projectsFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
}

.projectsList {
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projectsImages {
  width: 64%;
  height: 250px;
  background-color: #331529;
  border-radius: 8px 8px;
  padding: 30px 0 0 30px;
  overflow: hidden;
}
.projectsImages img {
  width: 100%;
  border-radius: 15px 0 0 0;
}
.projectsImages:hover, .projectsImages:focus {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transform: scale(105%);
  cursor: pointer;
  transition: 0.4s;
}

.projectsTexts {
  width: 30%;
  margin-left: 30px;
}
.projectsTexts button {
  border-radius: 4px 4px;
  padding: 8px 20px;
  border: 2px solid #ff5e6c;
  background-color: #ff5e6c;
}
.projectsTexts button:hover, .projectsTexts button:focus {
  transform: scale(110%);
  transition: 0.4s;
}
.projectsTexts button a {
  font-size: 0.7rem;
  letter-spacing: 0.05;
  color: #fff5d7;
}

.contact {
  color: #331529;
  padding: 80px 80px;
  text-align: center;
}
.contact h4 {
  padding-bottom: 20px;
}

input,
textarea {
  border: none;
  border-bottom: 1px solid #331529;
  background-color: transparent;
  color: #331529;
  padding: 10px;
  font-family: "Jost", sans-serif;
}

input {
  margin-right: 10px;
  margin-bottom: 15px;
  width: 41%;
}

textarea {
  width: 85%;
  border: 1px solid #331529;
}

#email {
  margin-right: 0;
}

.contactButton {
  border: 1px solid #331529;
  background-color: #331529;
  color: #fff5d7;
}
.contactButton:hover, .contactButton:focus {
  background-color: transparent;
  color: #331529;
  cursor: pointer;
  transition: 0.4s;
}

.upArrowDiv {
  padding-right: 15px;
  text-align: right;
}
.upArrowDiv img {
  transform: rotate(180deg);
}

.footer {
  background-color: #331529;
  padding: 15px;
  text-align: center;
  color: #fff5d7;
}

@media (max-width: 900px) {
  .indexHeader {
    flex-direction: column;
    text-align: center;
    margin-bottom: 100px;
  }
  .indexHeader h1 {
    margin-top: 10px;
  }
  .indexHeader h3 {
    margin-bottom: 20px;
  }
  .indexFooter {
    justify-content: center;
    display: none;
  }
  .resumeIcon {
    padding-left: 30px;
  }
  .projectsFlex {
    flex-direction: column;
  }
  .projectsList {
    width: 100%;
  }
}
@media (max-width: 750px) {
  .navList {
    display: none;
  }
  .menuIcon {
    display: inline-block;
  }
  .slideOutNav {
    background-color: #fff5d7;
    min-height: 100vh;
    position: fixed;
    top: 0;
    padding: 20px 30px 0 50px;
    width: 100%;
    max-width: 500px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    z-index: 20;
    right: -600px;
    transition: 0.4s;
  }
  .open {
    right: 0;
  }
  .slideOutNav button {
    align-self: flex-end;
    background-color: transparent;
    margin: 0;
    padding: 0;
    color: #331529;
    border: none;
  }
  .slideOutNav button:hover, .slideOutNav button:focus {
    color: #ff5e6c;
    cursor: pointer;
  }
  .slideOutNav a {
    color: #331529;
    line-height: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }
  .slideOutNav a:hover, .slideOutNav a:focus {
    color: #ff5e6c;
    transition: 0.4s;
  }
  .mainMenu {
    margin-top: 30px;
  }
  .indexHeader {
    margin-bottom: 50px;
  }
  .aboutFlex {
    flex-direction: column;
    align-items: center;
    padding: 20px 20px !important;
  }
  .aboutFlex .aboutText {
    width: 100%;
  }
  .aboutFlex .aboutImage {
    width: 70%;
    margin: 20px 0 50px 0;
  }
  .projectsList {
    flex-direction: column;
  }
  .projectsImages,
.projectsTexts {
    width: 100%;
  }
  .projectsTexts {
    padding-top: 20px;
  }
}
@media (max-width: 600px) {
  .skillsFlex li {
    width: 50%;
  }
  .indexText h3 {
    margin-top: 20px;
  }
  .indexText button {
    margin-top: 0;
  }
  .contact {
    padding: 80px 20px;
  }
  input,
textarea {
    font-size: 0.7rem;
  }
  .projectsImages {
    height: 180px;
  }
  .indexHeader h1 {
    font-size: 3rem;
  }
}
@media (max-width: 440px) {
  .portfolioBtn {
    margin-bottom: 10px;
  }
  .resumeBtn {
    margin-left: 3px;
  }
  .projectsImages {
    height: 150px;
  }
  .indexHeader h1 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 1.6rem;
  }
  h5 {
    font-size: 1.1rem;
  }
  p {
    font-size: 0.9rem;
  }
  button {
    padding: 7px 25px !important;
    font-size: 0.7rem;
  }
  button a {
    font-size: 0.7rem;
  }
}/*# sourceMappingURL=styles.css.map */